body {
  background: #fff;
}

.tabs-container {
  margin: 5%;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  height: 100vh;
  background: #fff;
}

.tabs-area {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.tab-list {
  
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background: #fff;
  color: #6c6d72;
  cursor: pointer;
  position: relative;
  outline: none;
  text-decoration: none;
  margin-bottom: 3%;
}
.active-tab {
  background: #fff;
  border-bottom: 1px solid blue;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 3px;
  background: rgb(88, 147, 241);
}

button {
  border: none;
}

.tab{
  font-size: 1.2rem;
  color: #000;
  text-decoration: none;
  list-style: none;

}
.content-tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 700px;
}
.content {
  background: #f3f2f2;
  color: black;
  padding: 20px;
  width: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100%;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.tabinfo {
  margin-left: 2%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 400px;
  gap:2%;
}

.cards-content {
  display: flex;
  justify-content: space-between;
}

.card-main {
  border-radius: 15px;
  margin-top: 3%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width:300px;
  height: 250px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.domain {
  padding-top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 300;
}

.pr {
  margin-top: 30%;
}
.price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 300;
}

.oldp {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 300;
}

#btn {
  margin: 5%;
  border: 1px solid #339dff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 1rem;
  width: 85%;
  color: #339dff;
  background-color: #fff;
}

#btn:hover {
  background: #339dff;
  color: #fff;
  box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
}


@media(max-width: 1300px) {
  .tabs-container{
    height: 1000px;
  }
  .tab-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:15%;
  }

  .tab{
    box-shadow: rgba(221, 217, 217, 0.2) 0px 2px 8px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
  }
}



@media(max-width: 1080px) {
  .tabs-container{
    height: 1200px;
  }
}


@media(max-width: 720px) {
  .tabs-container{
    height: 2400px;
    display: flex;
    align-items: center;
  }
}